<!DOCTYPE html>
<html>
<head>
    <title>QuizMaster - Mi Perfil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/public/css/perfil.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</head>
<body>

<div class="w3-container w3-padding-32" style="max-width:600px; margin:0 auto;">

    <h1 style="color:white; text-align:center;">Mi Perfil</h1>

    <div class="w3-card-4 w3-white w3-round-xlarge w3-padding-32">

        <div class="w3-center w3-margin-bottom">
            {{#foto_perfil}}
                <img src="{{foto_perfil}}" class="avatar">
            {{/foto_perfil}}
            {{^foto_perfil}}
                <div class="avatar-placeholder">👤</div>
            {{/foto_perfil}}
        </div>

        <table class="w3-table">
            <tr><td><b>Nombre</b></td><td>{{nombre_completo}}</td></tr>
            <tr><td><b>Usuario</b></td><td>@{{username}}</td></tr>
            <tr><td><b>Email</b></td><td>{{email}}</td></tr>
            <tr><td><b>País</b></td><td>{{pais}}</td></tr>
            <tr><td><b>Ciudad</b></td><td>{{ciudad}}</td></tr>
            <tr><td><b>Puntaje</b></td><td>{{puntaje_total}} pts</td></tr>
            <tr><td><b>Rol</b></td><td>{{rol}}</td></tr>
        </table>

        <div class="w3-card w3-white w3-padding">

            <h3>Historial de partidas</h3>

            <table class="w3-table w3-bordered">

                <tr>
                    <th>Fecha</th>
                    <th>Puntaje</th>
                </tr>

                {{#historial}}
                    <tr>
                        <td>{{fecha_inicio}}</td>
                        <td>{{puntaje}} pts</td>
                    </tr>
                {{/historial}}

                {{^historial}}
                    <tr>
                        <td colspan="2">No hay partidas registradas</td>
                    </tr>
                {{/historial}}

            </table>

        </div>


        <div class="w3-card w3-white w3-padding w3-margin-top">

            <h3>Ubicación</h3>

            <div id="mapa-perfil"  data-ciudad="{{ciudad}}"
                 data-pais="{{pais}}" style="height:
                 250px; width: 100%;">
            </div>

            <div style="margin-top:10px;">
                {{ciudad}}, {{pais}}
            </div>

        </div>


        <div class="w3-card w3-white w3-padding w3-margin-top w3-center">

            <h3>Mi Código QR</h3>
            <br>

            <img src="{{qr_url}}" alt="QR Perfil" class="qr-responsive">

        </div>


        <div class="w3-center w3-margin-top">
            <a href="/lobby/ver" class="w3-button w3-blue w3-round-xlarge">
                ← Volver al Lobby
            </a>
        </div>

    </div>

</div>

</body>
</html>
<script src="/public/js/perfil.js"></script>